<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/clean.code.successive.refinement/src/clean/code/successive/refinement/main/FirstDraftMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="clean.code.successive.refinement.main.FirstDraftMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-l&#13;&#10;true&#13;&#10;-p&#13;&#10;88&#13;&#10;-d&#13;&#10;home"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="clean.code.successive.refinement"/>
</launchConfiguration>
